<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="alternate" type="application/rss+xml" title="Paul May - Research and Interaction Design" href="/feed.xml" />
<title>{{page.title}} | Method Statement</title>
<link rel="stylesheet" href="/s/s.css"/>
</head>
<body>
<div id="wrapper"> 
{%include headerpost%}
<article>
<h2>{{ page.title }}</h2>
<div id="method-meta">
<p class="method-updated">{{ page.date | date: "%d %B %Y" }}</p></div>
<p class="method-description">{{page.description}}</p>
{{ content }}
</article>
<div id="side">
<div id="related">
<h2>Related Methods</h2>
<ul>
{% for link in page.links %}
<li><a href="{{ link.url }}">{{ link.text }}</a></li>
{% endfor %}
</ul>
</div>
</div>

{%include footer%}
</div><!--wrapper-->
</body>{%include js%}
</html>